// Base styles

@import "colors";
@import "constants";
@import "layout";


* {
  font-family: $font;
  color: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: $dark;
  background: $light;
}

// General

h1 {
  font-size: $font-size * 2.5;
  font-weight: $font-bold;
  line-height: $font-size * 2.5 + $padding;
}
h2 {
  font-size: $font-size * 2;
  font-weight: $font-bold;
  line-height: $font-size * 2 + $padding;
}
h3 {
  font-size: $font-size * 1.5;
  font-weight: $font-norm;
  line-height: $font-size * 1.5 + $padding;
}
p {
  font-size: $font-size;
  font-weight: $font-norm;
  line-height: $font-size + $padding;
}

// Components

.button {
  $height: $font-size + 2 * $padding;
  width: auto;
  height: $height;
  padding: 0 2 * $padding;
  display: inline-block;

  font-size: $font-size * 0.8;
  font-weight: $font-bold;
  line-height: $height;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  color: #fff;
  background: $primary;
  border: none;
  border-radius: $padding;
  box-shadow: none;
  transition: $transition-fast;
  cursor: pointer;

  &:hover {
    box-shadow: $shadow-big;
  }
  &.red {
    background: $error;
  }
  &.grey {
    background: $grey;
  }
}

.notification {
  width: 100%;
  height: auto;
  padding: $padding * 2;
  display: block;
  margin: $padding 0;

  font-size: $font-size;
  font-weight: $font-bold;
  line-height: $font-size + $padding;

  border-radius: $padding;
  color: #fff;
  background: $primary;
}

.chip {
  width: auto;
  height: $font-size * 1.5;
  padding: 0 $padding * 1.5;
  display: inline-block;
  margin: $padding 0;
  font-size: $font-size * 0.8;
  font-weight: $font-bold;
  line-height: $font-size * 1.5;
  background: $grey;
  color: #fff;
  border-radius: $font-size;

  &:after {
    width: auto;
    height: $font-size * 1.5;
    margin: 0 0 0 $padding;
    color: rgba(255,255,255,0.5);
    content: attr(data-info);
  }
}
a.chip {
  text-decoration: none;
  transition: $transition-fast;
  &:hover {
    background: $primary;
  }
}

.logo {
  // Set width to be 5 x height to resize
  // Also set font-size to 1x height
  // If no-text is wanted, also set that
  width: $padding * 8 * 5;
  height: $padding * 8;
  font-size: $padding * 8;
  &.no-text {
    width: $padding * 8;
  }
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  &:before {
    height: 100%;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    background-image: url("/static/images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }
  &:after {
    height: 100%;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    font-size: .6em;
    text-align: right;
    line-height: 1.9em;
    font-weight: $font-bold;
    content: "Observatory";
  }
  &.no-text {
    &:before {
      width: 100%;
    }
  }
}

// Forms

form {
  width: $width-small;
  max-width: 95%;
  height: auto;
  display: block;
  margin: 50px auto;

  input {
    $height: $font-size + 2 * $padding;
    width: 100%;
    height: $height;
    padding: 0 2 * $padding;
    display: block;
    margin: 5px 0;

    font-size: $font-size * 0.8;
    font-weight: $font-bold;
    line-height: $height;
    text-decoration: none;
    text-align: left;

    color: $dark;
    background: rgba(0,0,0,0.1);
    border: none;
    border-radius: $padding;
    transition: $transition-fast;

    &:focus {
      background: rgba(0,0,0,0.15);
      outline: none;
    }
  }

  .error {
    color: $error;
  }

  .qr {
    width: 50%;
    height: auto;
    padding: $padding;
    display: block;
    margin: 10px auto;
    background: #fff;
    border-radius: $padding;
    box-shadow: $shadow-small;
  }

  .code {
    width: 100%;
    font-size: $font-size;
    font-family: $font-mono;
    font-weight: font-bold;
    text-align: center;
  }
}
