// Base styles

@import "colors";


$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
            "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
            "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

* {
  font-family: $font;
  color: inherit;
  display: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: $dark;
  background: $light;
}

// General

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 45px;
}
h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 35px;
}
h3 {
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
}
p {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

// Components

.button {
  width: auto;
  height: 40px;
  padding: 0 15px;
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: $primary;
  border-radius: 5px;
  box-shadow: none;
  transition: .1s;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}
