<p>Change the login secret for <i><%= user? %></i>.</p>

<img class="qr" src="<%= qr_code secret %>">
<p class="code"><%= pretty_print_secret secret %></p>

<input name="code_old" type="number" placeholder="Enter Old Code" autocomplete="off">
<input name="code_new" type="number" placeholder="Enter New Code" autocomplete="off">
<input name="secret" type="text" value="<%= secret %>" style="display:none">
<input type="submit" class="button" value="Update">