<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Observatory</title>
    <%= render "partials/meta_tags.html".to_sym %>
    <link href="/static/styles/landing.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="landing">
      <span class="logo"></span>
      <h1>Unobtrusive Analytics for the Web</h1>
      <a href="/login" class="button">Login</a>
      <a href="/register" class="button grey">Register</a>
    </div>
    <%= render "partials/footer.html.erb".to_sym %>
  </body>
</html>
