<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Observatory</title>
    <%= render "partials/meta_tags.html".to_sym %>
    <link href="/static/styles/landing.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="landing">
      <span class="logo"></span>
      <h1>Unobtrusive analytics for the web</h1>
      <a href="https://github.com/dyedgreen/url" class="button">View GitHub</a>
    </div>
    <%= render "partials/footer.html.erb".to_sym %>
  </body>
</html>
